# Postgres Database configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=MySecr3tPassWord@as2
DB_NAME=media_signal_db

# General settings
GLOBAL_PREFIX=api
CORS_ENABLED=true
PORT=3000

# Swagger settings
TITLE_SWAGGER=Media Signal API
DESCRIPTION_SWAGGER=API documentation
VERSION_SWAGGER=1.0
ROUTE_SWAGGER=docs

# JWT settings
JWT_SECRET=MyScret